<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD en node | Christian Lara</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="body">
    
<table>
    <h1>Lista de Usuarios.</h1>
    <tr >
        <th class="col-id">ID</th>
        <th class="col-cam">Nombre</th>
        <th class="col-cam">Correo</th>
        <th >Acciones</th>
       
    </tr>
    <% users.forEach(user => { %>
        <tr>
            <td class="col-id"><%= user.id %></td>
            <td class="col-cam"><%= user.name %></td>
            <td class="col-cam"><%= user.email %></td>
            <td>
                <a href="/edit/<%=user.id %>">Editar</a>
                <a class="a2" href="/delete/<%=user.id %>">Eliminar</a>
            </td>
        </tr>
    <% }) %>
</table>

<br><br>

<!-- Formulario Agregar Usuario -->
<h2>Agregar Usuario</h2>
<form action="/add" method="post">
    <label for="name">Nombre: </label>
    <input type="text" name="name" id="name" maxlength="45" required placeholder="Ingresa nombre">
    <br><br>
    <label for="email">Correo: </label>
    <input type="text" name="email" id="email" maxlength="45" required placeholder="Ingresa correo">
    <br><br>
    <button type="submit">Registro</button>
</form>
</body>
</html>